@font-face {
	font-family: "proximanova-bold";
	src: url('./assets/fonts/proxima-nova-bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal
}

@font-face {
	font-family: "proximanova-light";
	src: url('./assets/fonts/proxima-nova-light.ttf') format('truetype');
	font-style: normal;
	font-weight: normal
}

@font-face {
	font-family: "opensans-regular";
	src: url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal
}

@font-face {
	font-family: "opensans-light";
	src: url('./assets/fonts/OpenSans-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: normal
}

@font-face {
	font-family: "opensans-bold";
	src: url('./assets/fonts/OpenSans-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal
}

body {
	font-family: 'opensans-regular', sans-serif !important;
}

header {
	padding-top: constant(safe-area-inset-top);
	padding-top: env(safe-area-inset-top);
}

footer {
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}

.app {
	padding-left: constant(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
}

.container-fluid {
	margin-top: 30px;
	/*margin-top: 0px !important;*/
	/*padding: 0px !important;*/
}

.card {
	border: none !important;
	border-radius: 0px;
}

@media only screen and (max-width: 575.98px) {
	.container-fluid {
		margin-top: 0px !important;
		padding: 0px !important;
	}
	.card {
		margin-bottom: 0px !important;
	}
}

@media only screen and (max-width: 767.98px) {
	.container-fluid {
		margin-top: 0px !important;
		padding: 0px !important;
	}
	.card {
		margin-bottom: 0px !important;
	}
}

.card-header {
	border-radius: 0px
}

.card-footer {
	border-radius: 0px
}

.card-grupos {
	margin-bottom: 0px !important;
	border: 0.5px solid #FFFFFF !important;
}

.card-body-grupos {
	padding: 0px !important;
}

.table {
	margin-bottom: 0rem !important;
}

.grupo {
	background-color: #FFFFFF;
}

.nomeGrupo {
	font-family: 'proximanova-bold', sans-serif !important;
	font-size: 24px;
	letter-spacing: -0.04em;
	padding: 2px;
}

.rodada {
	display: grid;
	grid-template-columns: 1fr 46.66px 30px 10px 30px 46.66px 1fr;
	grid-template-rows: 35px;
	grid-column-gap: 5px;
	grid-row-gap: 10px;
	align-items: center;
}

.rodadaResultado {
	display: grid;
	grid-template-columns: 1fr 46.66px 30px 10px 30px 46.66px 1fr;
	grid-template-rows: 35px;
	grid-column-gap: 5px;
	grid-row-gap: 10px;
	align-items: center;
}

.nomeRodada {
	font-family: 'proximanova-bold', sans-serif !important;
	font-size: 14px;
}

.nomeTimeA {
	font-family: 'opensans-light', sans-serif !important;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: -0.08em;
	justify-self: end;
}

.bandeiraTimeA {
	font-size: 25px;
	justify-self: center;
	margin-bottom: 0px
}

.palpiteTimeA {
	font-family: 'opensans-bold', sans-serif !important;
	font-size: 16px;
	color: #6E6E6E;
	border-radius: 0px;
	justify-self: center;
	padding: 3px;
	text-align: center;
	height: 100%;
}

.divisorPalpite {
	justify-self: center;
}

.palpiteTimeB {
	font-family: 'opensans-bold', sans-serif !important;
	font-size: 16px;
	color: #6E6E6E;
	border-radius: 0px;
	justify-self: center;
	padding: 3px;
	text-align: center;
	height: 100%;
}

.bandeiraTimeB {
	font-size: 25px;
	justify-self: center;
	margin-bottom: 0px;
}

.nomeTimeB {
	font-family: 'opensans-light', sans-serif !important;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: -0.08em;
	justify-self: start;
}

.horaPartida {
	font-family: 'proximanova-light', sans-serif !important;
	font-size: 12px;
	letter-spacing: -0.06em;
	justify-self: center;
	grid-column: 1/8;
}

.gridTime {
	display: grid;
	grid-template-columns: 45px auto 62px 52px 85px;
	align-items: center;
}

.gridPartidas {
	display: grid;
	grid-template-columns: 45px 65px 10fr 10fr 10fr 10fr 120px 120px 85px;
	align-items: center;
}

.gridResultados {
	display: grid;
	grid-template-columns: 44px auto 100px;
	align-items: center;
}

@media only screen and (max-width: 575.98px) {
	.gridResultados {
		grid-template-columns: 30px auto 86px;
	}
	.gridResultados td,
	.gridResultados th {
		padding: 5px
	}
}

@media only screen and (max-width: 767.98px) {
	.gridResultados {
		grid-template-columns: 30px auto 86px;
	}
	.gridResultados td,
	.gridResultados th {
		padding: 5px
	}
}

.gridClassificacao {
	display: grid;
	grid-template-columns: 44px 44px 74px auto 45px 54px 54px 54px 54px 54px;
	align-items: center;
}

@media only screen and (max-width: 575.98px) {
	.gridClassificacao {
		grid-template-columns: 28px 29px 40px auto 21px 30px 24px 24px 24px 24px;
	}
	.gridClassificacao td,
	.gridClassificacao th {
		padding: 5px 2px 5px 2px
	}
}

@media only screen and (max-width: 767.98px) {
	.gridClassificacao {
		grid-template-columns: 29px 29px 40px auto 21px 30px 24px 24px 24px 24px;
	}
	.gridClassificacao td,
	.gridClassificacao th {
		padding: 5px 2px 5px 2px
	}
}

.gridLegenda {
	display: grid;
	grid-template-columns: 1fr 12fr;
	align-items: center;
}

.classificacaoHeaderTD {
	width: 100%;
	height: 100%;
}

.classificacaoHeader {
	margin: 2px;
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 575.98px) {
	.classificacaoHeader {
		width: 10px;
	}
}

@media only screen and (max-width: 767.98px) {
	.classificacaoHeader {
		width: 10px;
	}
}

.classificacao {
	font-size: 10px
}

.classificacao_up {
	font-size: 10px;
	color: #367F25;
}

.classificacao_up::after {
	content: url('./assets/img/arrow_up.gif')
}

.classificacaoIgual::after {
	content: url('./assets/img/stoped.gif')
}

.classificacao_down {
	font-size: 10px;
	color: #DF2020;
}

.classificacao_down::after {
	content: url('./assets/img/arrow_down.gif')
}

.gridUsers {
	display: grid;
	grid-template-columns: 44px 74px auto 72px 100px;
	align-items: center;
}

@media only screen and (max-width: 575.98px) {
	.gridUsers {
		grid-template-columns: 30px 50px auto 60px 86px;
	}
	.gridUsers td,
	.gridUsers th {
		padding: 5px
	}
}

@media only screen and (max-width: 767.98px) {
	.gridUsers {
		grid-template-columns: 30px 50px auto 60px 86px;
	}
	.gridUsers td,
	.gridUsers th {
		padding: 5px
	}
}

.goldTrophy {
	color: #FFD700;
}

.silverTrophy {
	color: #C0C0C0;
}

.bronzeTrophy {
	color: #CD7F32
}

.divplayers {
	display: grid;
	grid-template-columns: 1fr 105px 1fr;
	height: 190px;
	background-attachment: #FFFFFF;
	background-image: url('./assets/img/podium.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	margin-bottom: 10px;
}

.player1 {
	position: relative;
	justify-self: center;
	width: 75px;
	height: 75px;
	margin-top: 10px;
	border-radius: 50%
}

.player2 {
	justify-self: right;
	width: 75px;
	height: 75px;
	margin-top: 30px;
	border-radius: 50%
}

.player3 {
	justify-self: left;
	width: 75px;
	height: 75px;
	margin-top: 50px;
	border-radius: 50%
}

.sidebar .sidebar-header {
	padding: 0px;
}

.russia2018 {
	min-height: 250px;
	padding: 0px;
	margin-bottom: 0px;
	background-size: contain;
	background-image: url('./assets/img/russia2018.jpg');
	background-position: top center;
	background-repeat: no-repeat;
}